<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="serversocket.Properties.Settings.RFID_TRACKERConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\RFID_TRACKER.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>